header {
    height: 123px;
    z-index: 555;
    background: #fff;
}

.nav-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 1150px;
    margin: 0 auto;
}
.logo {
    background: url(../image/logo.png)no-repeat;
    width: 205px;
    height: 65.91px;
}

.main-nav {
    display: flex;
    transition: 0.3s;
    position: relative;
}

.main-nav li a {
    padding: 5px 35px;
    text-decoration: none;
    color: #000;
    font-size: 14px;
}

.up-nav {
    display: flex;
    justify-content: flex-end;
    padding: 20px 70px 0 0;
    width: 1150px;
    margin: 0 auto;
}

.up-nav li a {
    padding: 0 15px 0 20px;
    text-decoration: none;
    color: #999;
    border-right: 1px solid #999;
    font-size: 12px;
}

.header-sns-img-face {
    background: url(../image/header-face.jpg)no-repeat;
    width: 20px;
    height: 20px;
    padding-right: 15px;
    margin-left: 15px;
}

.header-sns-img-instar {
    background: url(../image/header-instargram.jpg);
    width: 20px;
    height: 20px;
}

.hover-menu {
    background: url(../image/menu-bg.jpg);
    width: 100vw;
    height: 180px;
    position: absolute;
    top: 123px;
    transition: 0.3s;
    display: none;
}

.main-nav li a:hover ~ .hover-menu {
    display: block;
}

.abs1,
.abs2,
.abs3,
.abs4,
.abs5,
.abs6 {
    position: absolute;
    top: 140px;
    z-index: 999;
    text-align: center;
    display: none;
}

.abs1 {
    left: 400px;
}

.abs2 {
    left: 480px;
}

.abs3 {
    left: 595px;
}

.abs4 {
    left: 715px;
}

.abs5 {
    left: 845px;
}

.abs6 {
    left: 955px;
}

.abs1 li,
.abs2 li,
.abs3 li,
.abs4 li,
.abs5 li,
.abs6 li {
    padding-bottom: 15px;
    font-size: 14px;
}

.hover-menu-box {
    display: flex;
}

.main-section {
    /* width: 1269px; */
}

.strawberry-img {
    background: url(../image/strawberry.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 470px;
}